
.scroll-bar{
    width: 100%;
    overflow: autp;
    height: 90vh;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(211, 59, 48, 0.194);
}

.ideas-description{
    padding-top: 3.5vw;
    font-size: 1.7vw;
    padding-left: 7vw;
    padding-right: 2vw;
    text-align: center;
    color: #f72717;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#sort{
    width: fit-content;
    background-color: #f72717;
    color: white;
    margin-left: 1vw;
    font-size: 1.1vw;
}

#sort:focus {
    box-shadow: none !important;
}

.filter-dropdown{
    margin-left: 75vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    display: flex;
    font-size: 1.2vw;
}

.search-container {
  display: flex;
  justify-content: center;
  }
  
  .search-container input {
    width: 45vw; 
    padding: 10px;
    margin-left: -25px;
    display: block; 
    border-radius: 50px;
    border-color: #f72717;
  }




