
.scroll-bar{
    width: 100%;
    overflow: autp;
    height: 90vh;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(211, 59, 48, 0.194);
}

.ideas-description{
    padding-top: 3.5vw;
    font-size: 1.7vw;
    padding-left: 7vw;
    padding-right: 2vw;
    text-align: center;
    color: #f72717;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.post{
    position: relative;
    background-color: rgba(170, 125, 124, 0.288);
    margin-left: 12%;
    height: 5vw;
    width: 45vw;
    border-radius: 50px;
    color: rgb(77, 75, 75);
    font-size: 1vw;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: solid;
    border-color: rgba(211, 59, 48, 0.194);
    box-shadow: -0.5vw 0.8vw 1vw gray;
    border-width: 0.2vw;
    height: auto;
    min-height: 100% !important;
}

.votes{
    width: 20vw;
    height: 3.3vw;
    background-color: white;
    box-shadow: -0.5vw 0.8vw 1.3vw rgb(210, 205, 205);
    border-radius: 10vw;
    font-size: 0.8vw;
    text-align: center;
    margin-right: 25%;
    position: relative; 
    float: right;
    border-style: solid;
    border-color: #9793927b;
    border-width: 0.2vw;
}

.vote, .post{
    display: inline-block;    
    vertical-align: middle;
    justify-content: space-between;
}


.container p{
    text-align: center;
}

.post p{
    margin: 1vw 1vw;
}

.vote {
    width: 8vw;
    height: 4vw;
    background-color: #f72717;
    box-shadow: -0.5vw 0.8vw 1.3vw rgb(198, 126, 126);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 2vw;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.vote:hover {
    cursor: pointer;
    background: rgba(157, 3, 3, 0.696);
    transition: all 0.6s ease;
}

#sort{
    width: fit-content;
    background-color: #f72717;
    color: white;
    margin-left: 1vw;
    font-size: 1.1vw;
}

#sort:focus {
    box-shadow: none !important;
}

.filter-dropdown{
    margin-left: 75vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    display: flex;
    font-size: 1.2vw;
}




